.tooling-apps-cache/app/mule-test-git/mule-test-git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="80010991-8f36-4b48-b6f9-97d15bdc1fa9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-test-gitFlow" doc:id="265d67b8-9bb7-4549-b218-78ce10f1a95b" >
		<http:listener doc:name="Listener" doc:id="d9dbe25e-2d09-4d53-ba9b-ff9695b70e2a" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="282983d1-16de-4111-bdf0-8f0f5d9dfaf1" message="#['checking']"/>
	</flow>
</mule>